<section class="actions">
    <div class="container">
        <h2 class="block_title">Акции</h2>
        <div class="wrap">
            {{#if actions_list}}
            {{#each actions_list}}
            <div class="col">
                <div class="col_face">
                    <a href="/single-actions/{{this.id}}">
                        <img src="{{this.thumb_image}}" alt="">
                    </a>
                </div>
                <div class="col_description">
                    <a href="/single-actions/{{this.id}}" class="page">
                        <h3 class="col_title">{{this.title}}</h3>
                        <p class="col_text">
                            {{this.description}}
                        </p>
                    </a>
                    <a href="/single-actions/{{this.id}}" class="btn">
                        Воспользоваться
                    </a>
                </div>
            </div>
            {{/each}}
            {{/if}}
        </div>
    </div>
</section>