{{> admin-nav }}
<section class="cart">
    <div class="container">
        <h2 class="block_title">Кухня</h2>

        <form action="/edit-offer" method="POST" class="form " ref='uploadForm' encType="multipart/form-data">
            <input type="hidden" name="id" value="{{offer.id}}">
            <div class="cart_line">
                <h2 class="block_title">
                    Edit offer
                </h2>
                <div class="form_line contact_info">
                    <img src="{{image}}" class="current_image" alt="">
                    <input type="hidden" name="current_image" value="{{offer.image}}">
                    <input type="hidden" name="current_thumb_image" value="{{offer.thumb_image}}">
                    <label class="upload">
                        {{#if offer.image}}
                        <img src="{{offer.image}}" class="current_image" alt="">
                        {{/if}}
                        <img src="/img/miniStar.svg" alt="" class="review">
                        <input type="file" name="image" onchange="Image.change(this)">
                        <span class="error_text">Format must be: png, jpg, jpeg. And max size 2 mb.</span>
                        <span class="file_name">oerend.jpg</span>
                        <button class="btn btn-light" type="button" onclick="Image.cancel(this)">cancel</button>
                    </label>
                    <label>
                        <span>Title</span>
                        <input type="text" name="title" value="{{offer.title}}">
                        <span class="error">Поле обязательно для заполнения</span>
                    </label>
                    <label>
                        <span>Status</span>
                        <select name="status" value="{{offer.status}}">
                            <option>Standart</option>
                            <option>Hit</option>
                            <option>New</option>
                        </select>
                        <span class="error">Поле обязательно для заполнения</span>
                    </label>
                    <hr>
                    <div class="form_line contact_info c2">
                        <label>
                            <span>Type small</span>
                            <select name="type_small" value="{{offer.type_small}}">
                                <option>25см/800г</option>
                                <option>32см/1200г</option>
                                <option>None</option>
                            </select>
                            <span class="error">Поле обязательно для заполнения</span>
                        </label>
                        <label>
                            <span>Price a <big>small</big> pizza</span>
                            <input type="text" name="price_small" value="{{offer.price_small}}">
                            <span class="error">Поле обязательно для заполнения</span>
                        </label>
                        <label>
                            <span>Type big</span>
                            <select name="type_big" value="{{offer.type_big}}">
                                <option>32см/1200г</option>
                                <option>25см/800г</option>
                                <option>None</option>
                            </select>
                            <span class="error">Поле обязательно для заполнения</span>
                        </label>
                        <label>
                            <span>Price a <big>big</big> pizza </span>
                            <input type="text" name="price_big" value="{{offer.price_big}}">
                            <span class="error">Поле обязательно для заполнения</span>
                        </label>
                    </div>
                    <hr>
                    <label>
                        <span>Category</span>
                        <select name="category" value="{{offer.category}}">
                            <option>М'ясна</option>
                            <option>З курятиною</option>
                            <option>Вегетер'янська</option>
                            <option>З рибою</option>
                        </select>
                        <span class="error">Поле обязательно для заполнения</span>
                    </label>
                    <label>
                        <span>Storage </span>
                        <textarea name="storage">{{offer.storage}}</textarea>
                    </label>
                    <label>
                        <span>Description</span>
                        <textarea name="description">{{offer.description}}</textarea>
                    </label>
                </div>
            </div>
            <div class="line form_bottom">
                <button class="btn send">
                    Оформить заказ
                </button>
            </div>
        </form>
    </div>
</section>